<!DOCTYPE html>
<html lang="en" b:css="true">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="imag/x-icon" href="../image/favicon (2).ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../sass/style.css" type="text/css">
    <link rel="stylesheet"  href="../css/all.css" type="text/css">
    <title>Pack Social Media/service digitals</title>


    <style  type="text/css">

      .floating-wpp{z-index:12 !important;}
      .floating-wpp .floating-wpp-button {box-shadow: 1px 1px 4px rgb(41 245 228) !important;}
      .floating-wpp-button{width: 62px !important;height: 62px !important; }
      .floating-wpp .floating-wpp-button img{width: 39px !important;}
      .swal2-image{
                    margin-top: 10px !important;
                    margin-bottom: 0 !important;
                }

      .swal2-title{
        padding-top: 5px;
        font-family: 'Poppins',sans-serif;
        font-size: 19px !important;
        font-weight: 600;
        line-height: 23px  !important;
        color: #040D3E !important;
      }

      .swal2-html-container{
          margin-top: 10px !important;
        font-family: 'Poppins',sans-serif;
        font-size: 17px !important;
        font-weight: 600;
        line-height: 23px !important;
        color: #0f1224 !important;
      }

      .bBrlUg {
        z-index: 10 !important;
        }


        @media screen and (max-width:490px){

          .swal2-title{   
            font-size: 17px !important;
            }

            .swal2-html-container{ 
              font-size: 16px !important;
               }
        }


        </style>
</head>
<body>

    <section class="socail-media">
      <div id="WAButton"></div>  
      <span class="scroll-to-top"><i class="fas fa-arrow-up"></i></span>
      <header class="header">
        
        <nav class="navbar">
        
    
        <div class="header__links ">
          <div class="logoooo">
             <a href="http://localhost:4000" class="header__logo">
               <img src="../image/Modern Digital Technology Logo.png" alt="logo">
             </a> 
         </div>

        

         <div class="item hiden" id="item">
          <ul>
            <li><a href="http://localhost:4000/#ACCUEIL" class="nav-link">ACCUEIL</a></li>
            <li><a href="http://localhost:4000/#QUI%20SOMMES-NOUS" class="nav-link">QUI SOMMES-NOUS</a></li>
            <li><a href="http://localhost:4000/#services" class="nav-link">NOS SERVICES</a></li>
            <li id="list">PACK<i class='bx bx-chevron-down drop'></i>
                  <ul id="btnbackground">
                    <li class="li"><a href="http://localhost:4000/website" class="a">PACK CRÉATION SITE WEB</a></li>
                    <li class="li"><a href="http://localhost:4000/socialmedia" class="a">PACK SOCIAL MEDIA</a></li>
                  </ul>
            </li>
            <li><a href="http://localhost:4000/#Filterable" class="nav-link">NOS REALISATIONS </a></li>
            <li><a href="http://localhost:4000/#contact" class="nav-link">CONTACT</a></li>
            </ul>
          </div>

          <div class="overlay"></div>
         
          <div class="width">
            <div class="all-button">
              <button type="button"><a href="#contact" id="button1">Devis Gratuit</a></button>
            </div>

            <div class="humburger-menu">
                <div class="bar"></div>
            </div>
          </div>

        </div>
       </nav> 
    </header>
      <img src="../asset/Group 547.png" class="image1" alt="alt">
         <h1 class="socail-media-h1">PACK SOCIAL MEDIA</h1>
         <p class="socail-media-p">Profitez des avantages di Digital et des réseaux sociaux pour atteindre avec précision votre cible et les convertir avec le message adéquat.</p>
        <div class="all-pack " >
            <div class="all-pack-1">
                <div class="background-pack">
                <h1>PACK DEMARRAGE</h1>
                <p>Le plus populaire</p>
                </div>
                <div class="list-pack">
                    <ul>
                        <li><i class='bx bx-check'></i>Création d'une stratégie marketing</li>
                        <li><i class='bx bx-check'></i>Création logo + Charte éditoriale</li>
                        <li><i class='bx bx-check'></i>Création & Gestion des pages :</li>
                        <li> <i class='bx bx-check'></i>Facebook & Instagram</li>
                        <li><i class='bx bx-check'></i>3 Publications /Semaine</li>
                        <li><i class='bx bx-check'></i>Packshot (10-15) articles</li>
                        <li><i class='bx bx-check'></i>Design graphique</li>
                        <li><i class='bx bx-x'></i>Sponsoring</li>
                        <li><i class='bx bx-x'></i>Création de contenu</li>
                        <li><i class='bx bx-x'></i>Vidéo publicitaire</li>
                        <li><i class='bx bx-x'></i>Veille sectorielle</li>
                        <li> <i class='bx bx-x'></i>Veille digital (Jeux concours)</li>
                    </ul>
                    <div class="btn-pack-btn">
                    <button type="button" class="btn-pack"><a href="#contact">Commander</a></button>
                    </div>
                </div>
        
            </div>

            <div class="all-pack-1">
              <div class="background-pack">
                <h1>PACK BOOST</h1>
                <p>Le plus populaire</p>
                </div>
                <div class="list-pack">
                    <ul>
                        <li><i class='bx bx-check'></i>Création d'une stratégie marketing</li>
                        <li><i class='bx bx-check'></i>Création logo + Charte éditoriale</li>
                        <li><i class='bx bx-check'></i>Création & Gestion des pages :</li>
                        <li> <i class='bx bx-check'></i>Facebook & Instagram</li>
                        <li><i class='bx bx-check'></i>3 Publications /Semaine</li>
                        <li><i class='bx bx-check'></i>Packshot (15-20) articles</li>
                        <li><i class='bx bx-check'></i>Design graphique</li>
                        <li><i class='bx bx-check'></i>Sponsoring</li>
                        <li><i class='bx bx-check'></i>Création de contenu</li>
                        <li><i class='bx bx-check'></i>Vidéo publicitaire</li>
                        <li><i class='bx bx-x'></i>Veille sectorielle</li>
                        <li> <i class='bx bx-x'></i>Veille digital (Jeux concours)</li>
                    </ul>
                    <div class="btn-pack-btn">
                    <button type="button" class="btn-pack"><a href="#contact">Commander</a></button>
                    </div>
                </div>
                
            </div>

            <div  class="all-pack-1">

              <div class="background-pack">
                <h1 >PACK GOLD</h1>
                <p >Le plus populaire</p>
                </div>
                <div class="list-pack">
                    <ul>
                        <li><i class='bx bx-check'></i>Création d'une stratégie marketing</li>
                        <li><i class='bx bx-check'></i>Création logo + Charte éditoriale</li>
                        <li><i class='bx bx-check'></i>Création & Gestion des pages :</li>
                        <li> <i class='bx bx-check'></i>Facebook & Instagram</li>
                        <li><i class='bx bx-check'></i>3 Publications /Semaine</li>
                        <li><i class='bx bx-check'></i>Packshot (25-30) articles</li>
                        <li><i class='bx bx-check'></i>Design graphique</li>
                        <li><i class='bx bx-check'></i>Sponsoring</li>
                        <li><i class='bx bx-check'></i>Création de contenu</li>
                        <li><i class='bx bx-check'></i>Vidéo publicitaire</li>
                        <li><i class='bx bx-check'></i>Veille sectorielle</li>
                        <li><i class='bx bx-check'></i>Veille digital (Jeux concours)</li>
                    </ul>
                    <div class="btn-pack-btn">
                    <button type="button" class="btn-pack"><a href="#contact">Commander</a></button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
      <h1 class="contact-h1 wow bounceInLeft">Contactez-Nous</h1>

      <div class="contact-form">
        <img src="../image/Group.png" class="image" alt="alt">

        <div class="background-form">
          <form class="form wow fadeInDown" action="https://sheetdb.io/api/v1/v96xvl8h4fvs1"  method="post" id="sheetdb-form">
           <div class="form-group ">
             <label><span> Nom:</span></label>
             <input type="text" name="name"  placeholder="Entree votre Nom*" required>
           </div>

           <div class="form-group">
             <label><span>Email:</span></label>
             <input type="email" name="email"  placeholder=" Entree votre Email*" required>
           </div>

           <div class="form-group">
            <label for="Selection"><span>Sélectionnez-votre pack</span></label>
             <select class="select-form" name="Selection" required>
               <option value="Sélectionnez">Sélectionnez</option>
               <option value="PACK DEMARRAGE">PACK DEMARRAGE</option>
               <option value="PACK BOOST">PACK BOOST</option>
               <option value="PACK GOLD">PACK GOLD</option>
             </select>
          </div>

           <div class="form-group">
             <label><span>Numéro de Téléphone:</span></label>
             <input type="number" name="phone"  placeholder=" Entree votre Numéro*" required>
           </div>

           <div class="form-group">
             <label for="message"><span>vos message:</span></label>
              <textarea name="message" id="message" type="cheakbox"></textarea>
           </div>

           <button type="submit" id="submit">Envoyer</button>

          </form>
          
        </div>  

      </div>

      <div class="img-contact">
       <img src="../image/Frame (1).png" class="wow fadeInLeft">
     </div>
        
 </section>

 <section class="footer">
    <div class="row">
      <div class="col wow fadeInDown">
        <img src="../image/Add a subheading.png" class="img">
        <p id="p">
         Service Digital est une agence de communication digitale, Elle s’efforce tous les jours 
         à s’innover afin de répondre au mieux à l’évolution constante du marché. 
         Nous sommes très soucieux des nouvelles tendances en matière de design et nous 
         suivons de très près l’évolution des nouvelles technologies du Web.
        </p>
      </div>
      <!------------------------------------------------------------->
      <div class="col wow fadeInDown" id="col">
        <h3>Menu </h3>
        <div class="underline underline2"><span></span></div>
        <ul>
          <li>
           <i class='bx bx-chevron-right'></i><a href="#ACCUEIL">Accueil</a>
          </li>
          <li>
           <i class='bx bx-chevron-right'></i><a href="#QUI SOMMES-NOUS">Qui Sommes-Nous</a>
          </li>
          <li>
           <i class='bx bx-chevron-right'></i><a href="#services">Nos Services</a>
          </li>
          <li>
            <i class='bx bx-chevron-right'></i><a href="http://localhost:4000/website" title="services">Pack Création Site Web</a>
           </li>
           <li>
            <i class='bx bx-chevron-right'></i><a href="http://localhost:4000/socialmedia" title="services">Pack Social Media</a>
           </li>
          <li>
           <i class='bx bx-chevron-right'></i><a href="#Filterable">Nos Realisations</a>
          </li>
          <li>
           <i class='bx bx-chevron-right'></i><a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
       <!------------------------------------------------------------>
      <div class="col wow fadeInDown "  id="collast">
        <h3 class="h3">Contact Nous</h3>
        <div class="underline"><span></span></div>
           <ul>
             <li>
             <i class='bx bxl-gmail'></i>
             <a href="mailto:Contact@servicedigitals.com" target="_blank">Contact@servicedigitals.com</a>
               </li>
             <li>
             <i class='bx bx-phone-call' ></i>
             <a href="tel:+212689032250" target="_blank">+212689032250</a>
             </li>
             <li>
             <i class='bx bx-current-location'></i>
             <a href="https://www.google.com/maps/place/Bd+El+Qods,+Casablanca/@33.5307412,-7.6230039,17z/data=!4m5!3m4!1s0xda63297ade686c5:0xe4a5f74e90762ac6!8m2!3d33.5308843!4d-7.6214804" target="_blank">Casablanca,Maroc</a>
             </li>
           </ul>
           <div class="icons wow fadeInDown">
             <a href="https://web.facebook.com/servicedigitalsofficial/" target="_blank"><i class='bx bxl-facebook'></i></a>
             <a href="https://www.instagram.com/service_digitals_official/" target="_blank"><i class='bx bxl-instagram' ></i></a>
             <a href="https://www.linkedin.com/in/service-digitals-a2b215235/" target="_blank" title="instagram"><i class='bx bxl-linkedin'></i></a>
             <a href="https://api.whatsapp.com/message/RPYMUMQQWEGKG1?autoload=1&app_absent=0" target="_blank"><i class="fab fa-whatsapp whatsapp"></i>
                </a>
             </div>
         </div>
      <!---------------------------------------------------------->
    </div>
 </section>

 <div class="foote-copyright">
   <hr>
     <h1>
       &copy; Copyright 2021 Service Digitals
     </h1>
 </div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="../js/floating-wpp.min.js" type="text/javascript" async="'async"></script>
 <script src="../js/socailpack.js" type="text/javascript"async="'async"></script>
  <script>
  var form = document.getElementById('sheetdb-form');
  form.addEventListener("submit", e => {
    e.preventDefault();
    fetch(form.action, {
        method : "POST",
        body: new FormData(document.getElementById("sheetdb-form")),
    }).then(
        response => response.json()
    ).then((html) => {
      // you can put any JS code here 
    Swal.fire({
      title: "Merci beaucoup pour votre confiance",
      text: "Vous serez contacté par l'équipe de support technique.",
      imageUrl: 'https://media2.giphy.com/media/ehz3LfVj7NvpY8jYUY/giphy.gif?cid=ecf05e470le11os4ohzhyvhlh0esnnmqhu0n3dndhh1qf16r&rid=giphy.gif&ct=g',
      imageWidth: 300,
      imageHeight: 300,
      imageAlt: 'Custom image',
    })
    });
  });

  
  $(function () {
           $('#WAButton').floatingWhatsApp({
               phone: '+212689032250', 
               headerTitle: 'Contactez-nous par whatsapp', 
               popupMessage: 'salut 👋', 
               showPopup: true, 
               buttonImage: '<img src="../image/icons8-message-29.png" />', 
               headerColor: '#6200ffe1', 
               backgroundColor: '#040D3E', 
               position: "left" 

           });
       });

  </script>

    
<link rel="stylesheet" href="../css/floating-wpp.min.css">  
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</body>
</html>